public String[] shiftRight(String[] words, String data)
{
  int length = words.length;
  String[] end= new String[length];
  for (int x=0; x<length; x++)
  {
  if (x==0)
  {
  end[x]=data;
  }
  else{
  end[x]=words[(x-1)];
  }
  }
  return end;
}
